
@{
    var one = ViewBag.TotalRevenue;
    var jdslkf = 3;

    var YTDPercentChange = Math.Round(((ViewBag.CurrentYearRevenue + 1) - (ViewBag.PreviousYearRevenueUpToCurrentMonth + 1))/(ViewBag.PreviousYearRevenueUpToCurrentMonth + 1) * 100);
    var MonthPercentChange = Math.Round((((ViewBag.CurrentMonthRevenue + 1) - (ViewBag.AverageMonthlyRevenue + 1))/(ViewBag.AverageMonthlyRevenue + 1)) * 100);
}



<div class="m-md-5 m-3 mb-3">
    <h4 class="page-header-text">Analytics</h4>
</div>
<div class="mb-lg-4 m-md-5 m-3 mt-3 mt-md-3">
    <div class="row h-50">
        <div class="col-xxl-3 col-lg-6 mb-xxl-0 mb-4 analytic-small-card">
            <div class="flex-fill white-card rounded h-100 p-3">
                <div class="row">
                    <h5 class="col">Total Revenue</h5>
                    <div class="col-auto p-0 center-justify-align rounded-circle stat-icon-container">
                        <svg class="stat-icon" viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke:currentColor;"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
                    </div>
                </div>
                <span class="analytic-data-text">@("$" + ViewBag.TotalRevenue.ToString("N0"))</span>
                <div class="mt-4 d-flex align-items-center">
                    <span class="w-auto icon-grey ps-2 pe-2 me-2">@("$" + ViewBag.EstimatedProfit.ToString("N0"))</span>
                    <span>Estimated Profit</span>
                    <a class="d-flex" tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="Estimated Profit" data-bs-content="Estimated profit is calculated as 60% of the total revenue.">
                        <svg class="info-icon info-icon-analytics-page" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
                    </a>
                </div>  
            </div>
        </div>
        <div class="col-xxl-3 col-lg-6 mb-xxl-0 mb-4">
            <div class="flex-fill white-card rounded h-100 p-3">
                <div class="row">
                    <h5 class="col">Pending Revenue</h5>
                    <div class="col-auto p-0 center-justify-align rounded-circle stat-icon-container">
                        <svg class="stat-icon" viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke:currentColor;"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
                    </div>
                </div>
                <span class="analytic-data-text">@("$" + ViewBag.PendingRevenue.ToString("N0"))</span>
                <div class="mt-4 d-flex align-items-center">
                    <span class="w-auto icon-grey ps-2 pe-2 me-2">@("$" + ViewBag.PendingProfit.ToString("N0"))</span>
                    <span>Estimated Profit</span>
                    <a class="d-flex" tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="Pending Estimated Profit" data-bs-content="Pending Estimated profit is calculated as 60% of the total pending revenue.">
                        <svg class="info-icon info-icon-analytics-page" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-lg-6 mb-lg-0 mb-4">
            <div class="flex-fill white-card rounded h-100 p-3">
                <div class="row">
                    <h5 class="col">YTD Revenue</h5>
                    <div class="col-auto p-0 center-justify-align rounded-circle stat-icon-container">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="stat-icon"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"/><line x1="16" y1="2" x2="16" y2="6"/><line x1="8" y1="2" x2="8" y2="6"/><line x1="3" y1="10" x2="21" y2="10"/></svg>
                    </div>
                </div>
                <span class="analytic-data-text">@("$" + ViewBag.CurrentYearRevenue.ToString("N0"))</span>
                <div class="mt-4 d-flex align-items-center">
                    <span class="w-auto @(YTDPercentChange >= 0 ? "icon-normal" : "icon-urgent") ps-2 pe-2 me-2">@(YTDPercentChange >= 0 ? "+" : "")@(YTDPercentChange)%</span>
                    <span>From Last Year</span>
                    <a class="d-flex" tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="YTD Revenue" data-bs-content='By this month last year, revenue reached @("$" + ViewBag.PreviousYearRevenueUpToCurrentMonth.ToString("N0")). This years YTD is @("$" + ViewBag.CurrentYearRevenue.ToString("N0")) which is @("$" + (System.Math.Abs(ViewBag.CurrentYearRevenue - ViewBag.PreviousYearRevenueUpToCurrentMonth)).ToString("N0")) @(ViewBag.CurrentYearRevenue > ViewBag.PreviousYearRevenueUpToCurrentMonth ? "more" : "less") than last year (@(YTDPercentChange >= 0 ? "+" : "")@(YTDPercentChange)%). Estimated revenue for this year is @("$" + ViewBag.EstimatedYearRevenue.ToString("N0"))'>
                        <svg class="info-icon info-icon-analytics-page" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-lg-6 mb-lg-0 mb-4">
            <div class="flex-fill white-card rounded h-100 p-3">
                <div class="row">
                    <h5 class="col">This Months Revenue</h5>
                    <div class="col-auto p-0 center-justify-align rounded-circle stat-icon-container">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="stat-icon"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"/><line x1="16" y1="2" x2="16" y2="6"/><line x1="8" y1="2" x2="8" y2="6"/><line x1="3" y1="10" x2="21" y2="10"/></svg>
                    </div>
                </div>
                <span class="analytic-data-text">@("$" + ViewBag.CurrentMonthRevenue.ToString("N0"))</span>
                <div class="mt-4 d-flex align-items-center">
                    <span class="w-auto @(MonthPercentChange >= 0 ? "icon-normal" : "icon-urgent") ps-2 pe-2 me-2">@(MonthPercentChange >= 0 ? "+" : "")@(MonthPercentChange)%</span>
                    <span>From Average Month</span>
                    <a class="d-flex" tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="Estimated Profit" data-bs-content="Average monthly revenue for the  past 12 months is @("$" + ViewBag.AverageMonthlyRevenue.ToString("N0")). This months revenue is @("$" + ViewBag.CurrentMonthRevenue.ToString("N0")) which is @("$" + (System.Math.Abs(ViewBag.AverageMonthlyRevenue - ViewBag.CurrentMonthRevenue)).ToString("N0")) @(ViewBag.CurrentMonthRevenue > ViewBag.AverageMonthlyRevenue ? "more" : "less") than the average month (@(MonthPercentChange >= 0 ? "+" : "")@(MonthPercentChange)%).">
                        <svg class="info-icon info-icon-analytics-page" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mb-lg-4 mb-md-4 m-md-5 m-3 mt-3 mt-md-0">
    <div class="row">
        <div class="col-xl-6 mb-4 mb-xl-0">
            <div class="white-card rounded">
                <div class="m-3">
                    <h5>Orders by Month</h5>
                </div>
                <div class="m-3" style="position: relative">
                    <canvas id="orders-by-month"></canvas>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="white-card rounded">
                <div class="m-3">
                    <h5>Revenue by Month</h5>
                </div>
                <div class="m-3" style="position: relative">
                    <canvas id="revenue-by-month"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="mb-lg-4 m-md-5 m-3 mt-3 mt-md-0">
    <div class="row">
        <div class="col-xl-6 mb-4 mb-xl-0">
            <div class="white-card rounded">
                <div class="m-3">
                    <h5>Engaged Users by Month</h5>
                </div>
                <div class="m-3" style="position: relative">
                    <canvas id="engaged-usersXorders-placed"></canvas>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="white-card rounded">
                <div class="m-3">
                    <h5>Engaged Users by Month</h5>
                </div>
                <div class="m-3" style="position: relative">
                    <canvas id="engaged-usersXorders-placed2"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="mb-lg-3 m-md-5 m-3 mt-3 mt-md-0">
    <div class="col-xl-4 mb-3">
            <div class="white-card rounded p-3">
                <div class="mb-3">
                    <h5>Category Popularity</h5>
                </div>
                <div class="m-3" style="position: relative">
                    <canvas id="revenue-by-category"></canvas>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th class="text-end">Revenue</th>
                            <th class="text-end"># Orders</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
						    <td><i class="fas fa-circle" style="color: #3288bd;"></I>   Consoles</td>
							<td class="text-end">$ 2602</td>
					        <td class="text-end text-success">+43%</td>
                        </tr>
                        <tr>
						    <td><i class="fas fa-circle" style="color: #66c2a5;"></I>   Barndoors</td>
							<td class="text-end">$ 2602</td>
					        <td class="text-end text-success">+43%</td>
                        </tr>
                        <tr>
						    <td><i class="fas fa-circle" style="color: #abdda4;"></I>   Bookshelves</td>
							<td class="text-end">$ 2602</td>
					        <td class="text-end text-success">+43%</td>
                        </tr>
                        <tr>
						    <td><i class="fas fa-circle" style="color: #e6f598;"></I>   Desks</td>
							<td class="text-end">$ 2602</td>
					        <td class="text-end text-success">+43%</td>
                        </tr>
                        <tr>
						    <td><i class="fas fa-circle" style="color: #fee08b;"></I>   Ladders</td>
							<td class="text-end">$ 2602</td>
					        <td class="text-end text-success">+43%</td>
                        </tr>
                        <tr>
						    <td><i class="fas fa-circle" style="color: #fdae61;"></I>   Shelves</td>
							<td class="text-end">$ 2602</td>
					        <td class="text-end text-success">+43%</td>
                        </tr>
                        <tr>
						    <td><i class="fas fa-circle" style="color: #f46d43;"></I>   Dining Tables</td>
							<td class="text-end">$ 2602</td>
					        <td class="text-end text-success">+43%</td>
                        </tr>
                        <tr>
						    <td><i class="fas fa-circle" style="color: #d53e4f;"></I>   Custom</td>
							<td class="text-end">$ 2602</td>
					        <td class="text-end text-success">+43%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>
        
    








@{
    var ks = ViewBag.categoryNamesList;
}



<script type="text/javascript">
    var categoryNamesList = @Html.Raw(Json.Serialize(ViewBag.categoryNamesList))
    var categoryOrderCount = @Html.Raw(Json.Serialize(ViewBag.categoryOrderCount))

    var MonthList = @Html.Raw(Json.Serialize(ViewBag.MonthList)) //list of month abbreviations
    var MonthRevenueList = @Html.Raw(Json.Serialize(ViewBag.MonthRevenueList)) //list of revenue for each month
    var MonthOnTimeOrderList = @Html.Raw(Json.Serialize(ViewBag.MonthOnTimeOrderList))//list of orders completed on time for each month
    var MonthPastDueOrderList = @Html.Raw(Json.Serialize(ViewBag.MonthPastDueOrderList)) //list of orders completed late for each month 
    var MonthTotalOrders = @Html.Raw(Json.Serialize(ViewBag.MonthTotalOrdersCompleted)) //list of total orders completed for each month
    var MonthTotalOrdersPlaced = @Html.Raw(Json.Serialize(ViewBag.MonthTotalOrdersPlaced)) //list of orders placed for each month
    var MonthEngagedUsers = @Html.Raw(Json.Serialize(ViewBag.MonthEngagedUsers))
    var monthPagePosts = @Html.Raw(Json.Serialize(ViewBag.monthPagePosts))
    var pagePostsXEngagedUsers = @Html.Raw(Json.Serialize(ViewBag.pagePostsXEngagedUsers))




</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" defer></script>  
<script type="text/javascript" src="~/js/Analytics.js" defer></script>



