@model InventoryManagementSystem.Models.Order


@{
    var customerFullName = @Model.Customer.FullName;
    
}






<div class="row">
        <div class="col-lg-6 mb-3"> 
            <div class="order-details-order-information p-3 rounded">
                <h4 class="mb-4">Order Information</h4>
                <div class="row pb-4">
                    <div class="col-12 col-sm-6 d-flex align-items-center mb-1 mb-sm-0 mobile-only-title">
                        <p>Order Placement date</p> 
                    </div>
                    <input class="col-11 col-sm-5 order-details-input-inactive" name="updatedOrder.PlacementDate" type="date" value=@Model.PlacementDate.Date.ToString("yyyy-MM-dd") disabled/>
                </div>
                <div class="row pb-4"> 
                    <div class="col-12 col-sm-6 d-flex align-items-center mb-1 mb-sm-0 mobile-only-title">
                        <p>Order Due Date</p>
                    </div>  
                    <input class="col-11 col-sm-5 order-details-input-inactive" name="updatedOrder.FulfillmentDate" type="date" value=@Model.FulfillmentDate.Date.ToString("yyyy-MM-dd") disabled/>
                </div>
                <div class="row pb-4">
                    <div class="col-12 col-sm-6 d-flex align-items-center mb-1 mb-sm-0 mobile-only-title">
                        <p>Order Completion Date</p>
                    </div>
                    <input class="col-11 col-sm-5 order-details-input-inactive" name="updatedOrder.CompletionDate" type="date" value="@(Model.CompletionDate != null ? Model.CompletionDate?.Date.ToString("yyyy-MM-dd") : "")" disabled/>
                </div>
                <div class="row pb-4">
                    <div class="col-12 col-sm-6 d-flex align-items-center mb-1 mb-sm-0 mobile-only-title">
                        <p>Order Status</p>
                    </div>
                    <div class="col-11 col-sm-5 d-flex justify-content-start">
                        <input class="order-details-input-inactive" name="updatedOrder.Status" type="checkbox" value="true" disabled @(Model.Status == true ? "checked" : "") />
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-12 col-sm-6 d-flex align-items-center mb-1 mb-sm-0 mobile-only-title">
                        <p>Total Price</p>
                    </div>
                    <input id="total-price-input" class="col-11 col-sm-5 order-details-input-inactive number-input" name="updatedOrder.Total" type="number" value="@(Model.Total)" disabled/>
                </div>
                <div class="row pb-4">
                    <div class="col-12 col-sm-6 d-flex align-items-center mb-1 mb-sm-0 mobile-only-title">   
                        <p>Balance</p>
                    </div>
                    <input id="balance-input" class="col-11 col-sm-5 order-details-input-inactive number-input" name="updatedOrder.Balance" type="number" value="@(Model.Balance)" disabled/>
                    
                </div> 
            </div> 
        </div>
        <div class="col-lg-6 mb-3">
            <div id="order-details-customer-section" class="order-details-customer-information p-3 rounded">
                <h4 class="mb-4">Customer Information</h4>
                <div class="row pb-4">
                    <div class="col-12 col-sm-6 d-flex align-items-center">
                        <p class="">Name</p>
                    </div>
                    <input class="col-11 col-sm-5 order-details-input-inactive" name="updatedOrder.Customer.FullName" type="text" value='@(Model.Customer.FullName.ToString())' disabled/>
                   
                </div>
                <div class="row pb-4">
                    <div class="col-12 col-sm-6 d-flex align-items-center"> 
                        <p class="">Communication Thread</p>   
                    </div>
@*                    <input class="col-11 col-sm-5 order-details-input-inactive" name="order.ComThread" type="text" value=@Model.order.ComThread disabled/>
*@                    <select class="col-11 col-sm-5 order-details-input-inactive" data-val="true" id="paymentHistory_Type" name="updatedOrder.ComThread" style="background-color: white;" disabled>
                        <!option class="input-class" value="Marketplace" @(Model.ComThread.Trim() == "Marketplace" ? "selected" : "") >Marketplace</!option>
                        <!option class="input-class" value="Page" @(Model.ComThread.Trim() == "Page" ? "selected" : "")>Page</!option>
                        <!option class="input-class" value="Phone" @(Model.ComThread.Trim() == "Phone" ? "selected" : "")>Phone</!option>
                        <!option class="input-class" value="Other" @(Model.ComThread.Trim() == "Other" ? "selected" : "")>Other</!option>
                    </select>
                </div>
                <div class="row pb-4">  
                    <div class="col-12 col-sm-6 d-flex align-items-center">  
                        <p class="">Delivery Fee</p>
                    </div>
                    <input id="delivery-fee-input" class="col-11 col-sm-5 order-details-input-inactive" name="updatedOrder.DeliveryFee" type="number" value=@Model.DeliveryFee disabled/>
                </div>
                <div class="row pb-4">
                    <div class="col-12 col-sm-6 d-flex align-items-center"> 
                        <p class="">Out-of-Town</p>
                    </div>
                    <div class="col-11 col-sm-5 d-flex justify-content-start">
                        <input class="order-details-input-inactive" name="updatedOrder.OutOfTown" value="true" type="checkbox" disabled @(Model.OutOfTown == true ? "checked" : "")/>
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-12 col-sm-6 d-flex align-items-center"> 
                        <p class="">Phone Number</p>
                    </div>
                    <input class="col-11 col-sm-5 order-details-input-inactive" type="number" name="updatedOrder.Customer.PhoneNumber" value=@(Model.Customer.PhoneNumber != 0 ? Model.Customer.PhoneNumber : "N/A") disabled/>
                </div>
                <img id="load" style="width: 20px; display:none;" src="https://res.cloudinary.com/dmremrlru/image/upload/v1660180355/loading-buffering_hutsmm.gif" alt="" />
            </div>
        </div>
    </div>