@using InventoryManagementSystem.ViewModels
@model InventoryManagementSystem.Models.Order








@{
    var customerFullName = @Model.Customer.FullName;
    var lskdf = ViewData["asdf"];

    var dfg = @Model.Customer.FullName;

}





<div class="m-md-5 m-3 mb-2 mb-md-2 d-flex align-content-center"> 
    <div class="row w-100">
        <div class="col-10 d-flex"> 
            <h4 class="mb-0 page-header-text">Order Details</h4> 
            <div class="dropdown">
                <button id="delete-order-dropdown" class="p-0 btn btn-light" style="margin-left: 12px" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-ellipsis" style="color: #555b5e"></i></button>
                <ul class="dropdown-menu p-0" aria-labelledby="delete-order-dropdown">
                    <li>
                        <form action="/Order/DeleteOrder">
                            <input type="hidden" value=@Model.Id name="orderId" />
                            <button class="dropdown-item" onclick="return confirm('Are you sure you want to delete order?')" type="submit" href="#">Delete Order</button>
                        </form>
                    </li>
                    <li>
                        @Html.ActionLink("Generate Invoice", "Index", "Invoice", new {id=@Model.Id}, new {@class="dropdown-item"})
                    </li>
                </ul>
            </div>
        </div> 

        <div class="col-2 d-flex justify-content-end">   
            <div class="form-check form-switch">
                <label class="for m-check-label" for="flexSwitchCheckDefault">Edit</label>
                <input id="edit-switch" class="form-check-input" type="checkbox" role="switch" onclick="toggleEdit()">
            </div> 
        </div>    
    </div>
</div>



<div class="order-details-container p-md-5 p-3 pt-3 pt-md-3">
    <form action="/Order/UpdateOrder" data-ajax="true" data-ajax-method="post" data-ajax-update="#order-customer-container" data-ajax-success="toggleEditCall" data-ajax-loading="#load"> 
        <input type="hidden" name="updatedOrder.Id" value="@Model.Id" />
        <input type="hidden" name="updatedCustomer.Id" value="@Model.Customer.Id" />
        <div id="order-customer-container">
            <partial name="~/Views/Order/_OrderCustomerDetailsPartial.cshtml" model=@Model />
            
        </div>
        
    </form>
    <div id="product-information-container" class="row">
        <partial name="~/Views/Order/_ProductsPartial.cshtml" for="Products" />
    </div>
    <div id="payment-information-container" class="row">
        <partial name="~/Views/Order/_PaymentHistoryPartial.cshtml" for="Payments" />
    </div>
    
</div>


<script type="text/javascript" src="~/js/OrderDetails.js"></script>


